.loader{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    height:70vh;

}

.loader__spinner{

    width:60px;

    height:60px;

    border:6px solid #ddd;

    border-top:6px solid #6a0dad;

    border-radius:50%;

    animation:spin 1s linear infinite;

    margin-bottom:20px;

}

@keyframes spin{

    100%{

        transform:rotate(360deg);

    }

}