.checkout {

    max-width: 600px;

    margin: auto;

    padding: 40px;

}

.checkout form {

    display: flex;

    flex-direction: column;

    gap: 20px;

}

.checkout input,
.checkout textarea {

    padding: 15px;

    border: 1px solid #ccc;

    border-radius: 10px;

}

.checkout button {

    padding: 15px;

    background: #6a0dad;

    color: white;

    border: none;

    border-radius: 10px;

    cursor: pointer;

}